.navbar-form {
  padding: 15px 0;
}
.content-margin {
  margin: 0 5px 0 20px;
}
.btn-new {
  margin: 20px 0;
}
.btn-info-customize {
  color: #46b8da;
  background-color: #fff;
}
.btn-success-customize {
  color: #4cae4c;
  background-color: #fff;
}
.btn-danger-customize {
  color: #d43f3a;
  background-color: #fff;
}
