h2, h3 {
  padding: 15px 0;
}
.navbar-form {
  padding: 15px 0;
}
.content-margin {
  margin-right: 15px;
}
.content-margin-label {
  margin-right: 15px;
  margin-left: 15px;
}
.btn-search {
  margin-left: 25px
}
.btn-new {
  margin: 20px 0;
}
.btn-info-customize {
  color: #46b8da;
  background-color: #fff;
}
.btn-success-customize {
  color: #4cae4c;
  background-color: #fff;
}
.btn-danger-customize {
  color: #d43f3a;
  background-color: #fff;
}
.task-form {
  padding: 10px 0;
}
.flex-container {
  display: flex;
  justify-content: center;
}
